<div class="search-form mt-4" >
<form  method="POST" action="/search">
  <div class="form-group" >
    <label >Search</label>
    <input type="text" name="a" class="form-control" id="email" placeholder="Nhập từ khóa">
    <label >Name</label>
    <input type="text" name="b" class="form-control" id="email" placeholder="Nhập từ khóa">

    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>




</div>