<div class="container">
    <div class="row pt-4"> 
        <div class="col-md-3">
           <button type="button" class="btn btn-secondary">Học ngay</button>

        </div>
        <div class="col-md-6">
            <h2>{{courses.name}}</h2>      
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{courses.youtubeID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{courses.decription}}</p>

        </div>

    </div>     
</div>  
